h1 {
    color: blue;
    text-align: center;
}
img {
    width: 100%;
    animation: image 5s;
}
@keyframes image {
    from{opacity:0;}
    to{opacity:1;}
}
body {
 background-color:cornflowerblue
}
